<!DOCTYPE html>
    <head>
        <title>Etch-a-Sketch</title>
        <link rel="stylesheet" href='../static/style.css'/>
    </head>
    <body>
        <h1>Use buttons to control matrix</h1>
            <a href="/ledRed/up" class="button">UP</a>
            <a href="/ledRed/down" class="button">DOWN</a>
            <a href="/ledRed/left" class="button">LEFT</a>
            <a href="/ledRed/right" class="button">RIGHT</a>
            <a href="/ledRed/clear" class="button">SHAKE</a>
    </body>
</html>